@font-face {
    font-display: swap;
    font-family: 'Topaz PLus';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/TopazPlusa600a1200a4000.woff2') format('woff2'),
    url('../public/fonts/TopazPlusa600a1200a4000.woff') format('woff');
}

body, pre {
    font-family: 'Topaz PLus', sans-serif !important;
}

h3 {
    button {
        margin-right: 10px;
        position: relative;
        font-size: 14px;
        padding: 10px;

        input {
            width: 25px;
            height: 25px !important;
            line-height: 20px;
            padding: 0 !important;
            text-align: center;
            border-radius: 0 !important;
        }

        sub {
            position: absolute;
            bottom: 6px;
            right: 1px;
            font-size: 10px;
        }
    }
}


$gridColor: #343a41;

.ansi {
    font-size: 24px;
    line-height: 1;

    &.no-grid * {
        box-shadow: none !important;
        border: none !important;
    }

    div:last-child {
        span {
            border-bottom: 2px solid $gridColor;
        }
    }

    span {
        color: #fff;
        display: inline-block;
        box-shadow: inset 1px 1px 0 0 $gridColor;
        width: 12px;
        height: 24px;
        overflow: hidden !important;

        &.active {
            background-color: #f50 !important;
        }

        &.odd-col {
            box-shadow: inset 2px 1px 0 0 $gridColor;
        }

        &.odd-row {
            box-shadow: inset 1px 2px 0 0 $gridColor;
        }

        &.selected {
            background-color: lighten($gridColor, 5);
        }

        &.buffer-target {
            background-color: lighten(#000, 19);
        }

        &.odd-col.odd-row {
            box-shadow: inset 2px 2px 0 0 $gridColor;
        }

        &:last-child {
            border-right: 2px solid $gridColor;
        }
    }
}
